
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="page-content">

        <div class="dash-wrapper bg-dark">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 row-cols-xxl-5">
                <div class="col border-end border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Total Projects</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> @ViewBag.ProjectCount</h3>
                            <div id="chart1"></div>
                        </div>
                    </div>
                </div>
                
            <div class="col border-end border-top border-light-2">
                    <div class="card bg-transparent shadow-none mb-0">
                        <div class="card-body text-center">
                            <p class="mb-1 text-white">Website Unique Visit</p>
                            <h3 class="mb-3 text-success"><i class="lni lni-arrow-up"></i> 1 Million +</h3>
                            <div id="chart5"></div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div>


    </div>
</div>
