<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | CoderOm</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/projectAssets/Images/About/adminlogo.jpg" type="image/png">
    <!--plugins-->
    <script src="~/Content/AdminAssets/js/jquery.min.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <link href="~/Content/AdminAssets/plugins/simplebar/css/simplebar.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/plugins/highcharts/css/highcharts.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- loader-->
    <link href="~/Content/AdminAssets/css/pace.min.css" rel="stylesheet">
    <script src="~/Content/AdminAssets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminAssets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="../../../css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="~/Content/AdminAssets/css/app.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="~/Content/AdminAssets/css/dark-theme.css">
    <link rel="stylesheet" href="~/Content/AdminAssets/css/semi-dark.css">
    <link rel="stylesheet" href="~/Content/AdminAssets/css/header-colors.css">


    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--wrapper-->
    <div class="wrapper">
        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <h4 class="m-0 fw-bold text-center mx-auto">Coder Om</h4>
                <div class="toggle-icon ms-auto">
                    <i class='bx bx-first-page'></i>
                </div>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                <li>
                    <a href="~/Admin/Dashboard" class="">
                        <div class="parent-icon">
                            <i class='bx bx-home'></i>
                        </div>
                        <div class="menu-title">Dashboard</div>
                    </a>
                </li>

                <li class="menu-label">Database Forms</li>
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class='bx bx-hourglass'></i>
                        </div>
                        <div class="menu-title">Forms</div>
                    </a>
                    <ul>
                        <li><a href="~/Admin/Dashboard"><i class="bx bx-right-arrow-alt"></i>Dashboard</a></li>
                        <li><a href="~/Admin/AboutDetails"><i class="bx bx-right-arrow-alt"></i>About Details</a></li>
                        <li><a href="~/Admin/AddProject"><i class="bx bx-right-arrow-alt"></i>Add Project</a></li>
                    </ul>
                </li>
            </ul>
            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center bg-dark shadow-none border-light-2 border-bottom">
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu text-white me-3">
                        <i class='bx bx-menu'></i>
                    </div>
                    <div class="top-menu-left d-none d-lg-block">
                        <ul class="nav">
                        </ul>
                    </div>
                    <div class="search-bar flex-grow-1">

                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item">
                                <a class="btn btn-outline-danger btn-sm" href="~/Admin/Logout">
                                    <i class='bx bxs-log-out'></i> LogOut
                                </a>
                            </li>
                            <li class="d-none nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='bx bx-category'></i>
                                </a>
                            </li>
                            <li class="d-none nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                    </a>
                                    <div class="header-notifications-list">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        New Customers<span class="msg-time float-end">
                                                            14 Sec
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">5 new user registered</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">View All Notifications</div>
                                    </a>
                                </div>
                            </li>
                            <li class="d-none nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Messages</p>
                                            <p class="msg-header-clear ms-auto">Marks all as read</p>
                                        </div>
                                    </a>
                                    <div class="header-message-list">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Daisy Anderson <span class="msg-time float-end">
                                                            5 sec
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">The standard chunk of lorem</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">View All Messages</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="user-box dropdown border-light-2">
                        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/Content/projectAssets/Images/About/adminlogo.jpg" class="user-img" />
                            <div class="user-info ps-3">
                                <p class="user-name mb-0 text-white">Admin</p>
                                <p class="designattion mb-0">Software Developer</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="~/Admin/Logout"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--start page wrapper -->
        @RenderBody()
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="search-overlay"></div>
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © @DateTime.Now.Year. All right reserved.</p>
        </footer>
    </div>
    <!--end wrapper-->
    <!--start switcher-->
    <div class="switcher-wrapper">
        <div class="switcher-btn">
            <i class='bx bx-cog bx-spin'></i>
        </div>
        <div class="switcher-body">
            <div class="d-flex align-items-center">
                <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
                <button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
            </div>
            <hr>
            <h6 class="mb-0">Theme Styles</h6>
            <hr>
            <div class="d-flex align-items-center justify-content-between">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked="">
                    <label class="form-check-label" for="lightmode">Light</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
                    <label class="form-check-label" for="darkmode">Dark</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
                    <label class="form-check-label" for="semidark">Semi Dark</label>
                </div>
            </div>
            <hr>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
                <label class="form-check-label" for="minimaltheme">Minimal Theme</label>
            </div>
            <hr>
            <h6 class="mb-0">Header Colors</h6>
            <hr>
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator headercolor1" id="headercolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor2" id="headercolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor3" id="headercolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor4" id="headercolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor5" id="headercolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor6" id="headercolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor7" id="headercolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator headercolor8" id="headercolor8"></div>
                    </div>
                </div>
            </div>
            <hr>
            <h6 class="mb-0">Sidebar Backgrounds</h6>
            <hr>
            <div class="header-colors-indigators">
                <div class="row row-cols-auto g-3">
                    <div class="col">
                        <div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
                    </div>
                    <div class="col">
                        <div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end switcher-->
    <!-- Bootstrap JS -->
    <script src="~/Content/AdminAssets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <script src="~/Content/AdminAssets/js/jquery.min.js"></script>
    <script src="~/Content/AdminAssets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/Content/AdminAssets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/Content/AdminAssets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/Content/AdminAssets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/AdminAssets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/AdminAssets/plugins/highcharts/js/highcharts.js"></script>
    <script src="~/Content/AdminAssets/plugins/highcharts/js/exporting.js"></script>
    <script src="~/Content/AdminAssets/plugins/highcharts/js/variable-pie.js"></script>
    <script src="~/Content/AdminAssets/plugins/highcharts/js/export-data.js"></script>
    <script src="~/Content/AdminAssets/plugins/highcharts/js/accessibility.js"></script>
    <script src="~/Content/AdminAssets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="~/Content/AdminAssets/js/index.js"></script>
    <!--app JS-->
    <script src="~/Content/AdminAssets/js/app.js"></script>

    <script src="~/Content/AdminAssets/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminAssets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
